@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-[#F0F1F6];
  }
  .body-10-regular {
    @apply text-[10px] font-normal leading-[14px];
  }
  .body-10-medium {
    @apply text-[10px] font-medium leading-[14px];
  }
  .body-10-bold {
    @apply text-[10px] font-bold leading-[14px];
  }

  .body-12-regular {
    @apply text-[12px] font-normal leading-[18px];
  }
  .body-12-medium {
    @apply text-[12px] font-medium leading-[18px];
  }
  .body-12-bold {
    @apply text-[12px] font-bold leading-[18px];
  }

  .body-14-regular {
    @apply text-[14px] font-normal leading-5;
  }
  .body-14-medium {
    @apply text-[14px] font-medium leading-5;
  }
  .body-14-bold {
    @apply text-[14px] font-bold leading-5;
  }

  .title-16-regular {
    @apply text-base font-normal leading-6;
  }
  .title-16-medium {
    @apply text-base font-medium leading-6;
  }
  .title-16-bold {
    @apply text-base font-bold leading-6;
  }

  .title-18-regular {
    @apply text-lg font-normal leading-[26px];
  }
  .title-18-medium {
    @apply text-lg font-medium leading-[26px];
  }
  .title-18-bold {
    @apply text-lg font-bold leading-[26px];
  }

  .heading-20-regular {
    @apply text-xl font-normal leading-[30px];
  }
  .heading-20-medium {
    @apply text-xl font-medium leading-[30px];
  }
  .heading-20-bold {
    @apply text-xl font-bold leading-[30px];
  }

  .heading-24-regular {
    @apply text-2xl font-normal leading-9;
  }
  .heading-24-medium {
    @apply text-2xl font-medium leading-9;
  }
  .heading-24-bold {
    @apply text-2xl font-bold leading-9;
  }

  .card-flight {
    @apply h-[200px] overflow-hidden relative rounded-t-md rounded-b-md shadow-lg text-white;
  }

  .card-flight__image {
    @apply w-full h-full -translate-y-0 absolute duration-75 ease-in;
  }

  .card-flight__layer {
    @apply absolute z-[3] w-full h-full  bg-gradient-to-t from-[#272222]/60 to-[#272222]/0 top-0 left-0 rounded-lg duration-75;
  }

  .card-flight__desc {
    @apply absolute z-[5] bottom-0 left-0 w-full h-[116px] rounded-b-md py-4 px-6;
  }

  .card-flight__desc-to {
    @apply text-lg font-semibold duration-75 capitalize;
  }

  .card-flight__desc-corner {
    @apply hidden;
  }

  .card-flight__desc-layer {
    @apply absolute z-[4] bottom-0 left-0 bg-transparent h-[116px] w-full;
  }

  .card-flight__desc-below {
    @apply flex items-end justify-between;
  }

  .card-flight__desc-top {
    @apply flex items-center justify-between;
  }

  .card-flight:hover {
    @apply text-[#131316];
  }

  .card-flight:hover .card-flight__desc-layer {
    @apply bg-white;
  }

  .card-flight:hover .card-flight__desc-to {
    @apply ml-2 text-slate-800;
  }

  .card-flight:hover .card-flight__desc-corner {
    @apply block;
  }

  .card-flight:hover .card-flight__layer {
    @apply from-black/0 to-black/0;
  }

  .card-flight:hover .card-flight__image {
    @apply -translate-y-10;
  }

  .ticket {
    @apply grid grid-cols-1 lg:grid-cols-[600px_1fr] overflow-hidden bg-white rounded-lg;
  }

  /* * {
    @apply border border-red-500;
  } */
}

.rdp-day_selected {
  background-color: #4642ff;
}

.drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 100%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 80;
  box-shadow: -8px 0 12px 0 rgba(0, 0, 0, 0.08);
}

.drawer.open {
  right: 0;
}

.create-form-drawer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.create-form-drawer::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 5px;
  min-height: 50px;
}

.create-form-drawer::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .drawer {
    width: 100%;
  }
}
